@use "variable" as *;

// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝ フォント ＝＝＝＝＝＝＝＝＝＝＝＝＝＝
@font-face {
  font-family: 'SourceHanSansJP';
  src: url('../font/SourceHanSansJP-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansJP';
  src: url('../font/SourceHanSansJP-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansJP';
  src: url('../font/SourceHanSansJP-Normal.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansJP';
  src: url('../font/SourceHanSansJP-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansJP';
  src: url('../font/SourceHanSansJP-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansJP';
  src: url('../font/SourceHanSansJP-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansJP';
  src: url('../font/SourceHanSansJP-Heavy.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: $font-size-p02;
  @include max(md) {
    font-size: $font-size-p02-tab;
  }
  @include max(sm) {
    font-size: $font-size-p02-sp;
  }
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.mochiy-pop-one-regular {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.m-plus-1p-regular {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrap {
  overflow: hidden;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1 {
  font-size: 56px;
  font-weight: $font-weight-bold;
  @include max(md) {
    font-size: 40px;
  }
  @include max(sm) {
    font-size: 24px;
  }
}
h2 {
  font-size: 40px;
  font-weight: $font-weight-bold;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  @include max(md) {
    font-size: 32px;
  }
  @include max(sm) {
    font-size: 22px;
  }
}
h3 {
  font-size: 32px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.05em;
  @include max(md) {
    font-size: 28px;
  }
  @include max(sm) {
    font-size: 20px;
  }
}
h4 {
  font-size: 28px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.05em;
  @include max(md) {
    font-size: 24px;
  }
  @include max(sm) {
    font-size: 18px;
  }
}
h5 {
  font-size: 24px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.05em;
  @include max(md) {
    font-size: 20px;
  }
  @include max(sm) {
    font-size: 16px;
  }
}
h6 {
  font-size: 20px;
  font-weight: $font-weight-bold;
  letter-spacing: 0.05em;
  @include max(md) {
    font-size: 16px;
  }
  @include max(sm) {
    font-size: 14px;
  }
}
p {
  font-size: $font-size-p02;
  line-height: 1.8em;
  letter-spacing: 0.05em;
  @include max(md) {
    font-size: $font-size-p02-tab;
  }
  @include max(sm) {
    font-size: $font-size-p02-sp;
  }
}
p.p-01 {
  font-size: $font-size-p01;
  @include max(md) {
    font-size: $font-size-p01-tab;
  }
  @include max(sm) {
    font-size: $font-size-p01-sp;
  }
}
p.p-02 {
  font-size: $font-size-p02;
  @include max(md) {
    font-size: $font-size-p02-tab;
  }
  @include max(sm) {
    font-size: $font-size-p02-sp;
  }
}
p.p-03 {
  font-size: $font-size-p03;
  line-height: 1.6em;
  letter-spacing: 0.05em;
  @include max(md) {
    font-size: $font-size-p03-tab;
  }
  @include max(sm) {
    font-size: $font-size-p03-sp;
  }
}
p.p-04 {
  font-size: $font-size-p04;
  @include max(md) {
    font-size: $font-size-p04-tab;
  }
  @include max(sm) {
    font-size: $font-size-p04-sp;
  }
}

section {
  margin: 120px auto;
  &.bg-main {
    background-color: $background-color-main;
  }
  &.bg-sub {
    background-color: $background-color-sub;
  }
  @include max(md) {
    margin: 80px auto;
  }
  @include max(sm) {
    margin: 56px auto;
  }
  &.nomargin-padding {
    margin: 0 auto;
    padding: 104px 0;
    @include max(md) {
      padding: 80px 0;
    }
    @include max(sm) {
      padding: 56px 0;
    }
  }
  &.cta-padding {
    margin: 0 auto;
    padding: 64px 0;
    @include max(md) {
      padding: 48px 0;
    }
    @include max(sm) {
      padding: 32px 0;
    }
  }
}

.logo {
  display: block;
  width: 240px;
  @include max(md) {
    width: 200px;
  }
  @include max(sm) {
    width: 160px;
  }
}

.text-center {
  text-align: center;
}

.pc {
  display: block;
  @include max(sm) {
    display: none;
  }
}
.sp {
  display: none;
  @include max(sm) {
    display: block;
  }
}

// ========== BUTTONS ==========
// ---------- Default ----------
.btn-container {
  margin-top: 40px;
}
.btn {
  width: 320px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  gap: 16px;
  cursor: pointer;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  &.white {
    background-color: $color-white;
    border: 3px solid $main-color;
    & > span {
      color: $main-color;
    }
  }
  &.green {
    background-color: $main-color;
    border: 3px solid $color-white;
    & > span {
      color: $color-white;
    }
  }
  &:hover {
    & > span {
      letter-spacing: 0.15em;
    }
  }
  @include max(md) {
    width: 280px;
    padding: 16px 24px;
  }
  @include max(sm) {
    width: 260px;
    padding: 16px 24px;
  }
  & > span {
    font-size: $font-size-p02;
    font-weight: $font-weight-medium;
    cursor: pointer;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    @include max(md) {
      font-size: $font-size-p02-tab;
    }
    @include max(sm) {
      font-size: $font-size-p02-sp;
    }
  }
  & > img {
    width: 12px;
  }
}
// ---------- Default ----------
// ---------- For CTA ----------
.cta-buttons {
  .btn {
    width: 360px;
    padding: 24px;
    @include max(lg-md) {
      width: 320px;
    }
    @include max(md-sm) {
      padding: 16px 24px;
    }
    @include max(sm) {
      width: 280px;
      padding: 12px 16px;
    }
  }
  .btn-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: $main-color;
    @include max(md-sm) {
      gap: 8px;
    }
    &-en {
      font-size: $font-size-p01;
      font-weight: $font-weight-bold;
      letter-spacing: 0.1em;
      @include max(lg-md) {
        font-size: $font-size-p02;
      }
      @include max(md) {
        font-size: $font-size-p02-tab;
      }
      @include max(sm) {
        font-size: $font-size-p02-sp;
      }
    }
    &-jp {
      font-size: $font-size-p04;
      font-weight: $font-weight-medium;
      letter-spacing: 0.05em;
      @include max(lg-md) {
        font-size: $font-size-p04-tab;
      }
      @include max(sm) {
        font-size: $font-size-p04-sp;
      }
    }
  }
}
// ---------- For CTA ----------

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  color: $main-color;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  &-en {
    font-size: $font-size-p02;
    font-weight: $font-weight-medium;
    @include max(md) {
      font-size: $font-size-p02-tab;
    }
    @include max(sm) {
      font-size: $font-size-p02-sp;
    }
  }
}

.sub-title {
  font-weight: $font-weight-bold;
  line-height: 2;
  text-align: center;
}

.obj__inner {
  position: relative;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  @include max(xl) {
    padding: 0 6%;
  }
  @include max(sm) {
    padding: 0 4%;
  }
}

// ========== Header ==========
#header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 104px;
  z-index: 10;
  @include max(md) {
    height: 80px;
  }
  @include max(sm) {
    height: 56px;
  }
  .header-container {
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    @include max(sm) {
      padding: 16px;
    }
  }
  .header-nav {
    @include max(md) {
      display: none;
    }
    &.sub-page {
      .menu-item {
        color: $main-color;
      }
    }
    ul {
      display: flex;
      gap: 32px;
    }
  }
}

.menu-item {
  color: $color-white;
  font-family: "Roboto", sans-serif;
  font-size: $font-size-p02;
  letter-spacing: 0.1em;
  @include max(md) {
    font-size: $font-size-p02-tab;
  }
  @include max(sm) {
    font-size: $font-size-p02-sp;
  }
}

// ========== Footer ==========
#footer {
  background-color: $main-color;
  padding: 80px 56px 40px;
  @include max(md) {
    padding: 64px 40px 32px;
  }
  @include max(sm) {
    padding: 56px 32px 24px;
  }
  &.footer-obj {
    position: relative;
    .footer-obj {
      position: absolute;
      &.women {
        width: 136px;
        top: 50%;
        left: 2%;
        @include max(md) {
          width: 112px;
          top: unset;
          bottom: 0%;
        }
        @include max(sm) {
          width: 80px;
          bottom: 4%;
        }
      }
      &.ship {
        width: 104px;
        top: 50%;
        right: 4%;
        @include max(md) {
          width: 80px;
        }
        @include max(sm) {
          width: 64px;
          top: 10%;
        }
      }
    }
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    @include max(md-sm) {
      flex-direction: column;
      gap: 32px;
    }
    @include max(sm) {
      gap: 24px;
    }
    .info {
      display: grid;
      width: 50%;
      gap: 32px;
      @include max(md) {
        width: 100%;
        gap: 24px;
      }
      @include max(md) {
        gap: 16px;
      }
      .address {
        color: $color-white;
        line-height: 1.5;
      }
    }
    .footer-menu {
      width: 50%;
      @include max(md) {
        width: 100%;
      }
      .menu {
        ul {
          display: flex;
          flex-wrap: wrap;
          @include max(md) {
            flex-wrap: nowrap;
            gap: 24px;
          }
          @include max(md-sm) {
            flex-direction: row;
            justify-content: space-between;
            gap: 2px;
          }
          .menu-item {
            padding: 8px;
            width: 50%;
            @include max(md) {
              width: fit-content;
            }
            &:nth-child(even) {
              margin-right: none;
            }
          }
        }
      }
    }
  }
  .copy-write {
    margin-top: 40px;
    text-align: center;
    color: $color-white;
    font-size: $font-size-p04;
    @include max(md) {
      font-size: $font-size-p04-tab;
    }
    @include max(sm) {
      font-size: $font-size-p04-sp;
    }
  }
}

// ========== CTA Footer==========
#cta {
  width: 100%;
  height: auto;
  background: $background-gradient-reverse;
  .cta-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 120px;
    @include max(md) {
      padding: 24px 4% 80px;
    }
    @include max(sm) {
      padding: 16px 4% 56px;
    }
  }
  .cta-buttons {
    display: flex;
    gap: 56px;
    justify-content: center;
    align-items: center;
    @include max(lg-md) {
      gap: 32px;
    }
    @include max(md-sm) {
      flex-direction: column;
      gap: 16px;
    }
  }
  .cta-obj {
    position: absolute;
    width: 100%;
    bottom: -2%;
    left: 50%;
    transform: translateX(-50%);
  }
}

#cta-secondary {
  background: $green-gradient;
  color: $color-white;
  .cta-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  .cta-message {
    text-align: center;
    h5 {
      line-height: 1.6em;
    }
  }
  .cta-btn-container {
    .cta-btn {
      margin-top: 12px;
      .btn {
        background-color: $sub-color;
        color: $color-white;
        border: 2px solid $color-white;
        padding: 16px 24px;
        & > span {
          color: $color-white;
        }
      }
    }
  }
}

// ========== Sub page ==========
#sub-fv {
  margin: 0;
  .sub-fv-title {
    color: $main-color;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    @include max(md) {
      padding: 64px 0;
    }
    @include max(sm) {
      padding: 48px 0;
    }
    &-jp {
      font-size: 32px;
      letter-spacing: 0.1em;
      @include max(md) {
        font-size: 28px;
      }
      @include max(sm) {
        font-size: 24px;
      }
    }
    &-en {
      font-size: $font-size-p02;
      letter-spacing: 0.1em;
      @include max(md) {
        font-size: $font-size-p02-tab;
      }
      @include max(sm) {
        font-size: $font-size-p02-sp;
      }
    }
  }
  .sub-fv-image {
    height: 420px;
    @include max(md) {
      height: 320px;
    }
    @include max(sm) {
      height: 240px;
    }
    & img {
      height: 100%;
    }
  }
}

// ========== Hamburger Manu ==========
/* overlay-styles.css */
.hamburger-menu {
  display: none;
  @include max(md) {
    display: block;
  }
}
.hamburger-overlay {
  position: relative;
  z-index: 1000;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hamburger-overlay__line {
  position: absolute;
  left: 50%;
  width: 26px;
  height: 2px;
  background-color: $color-white;
  transform: translateX(-50%);
  transition: all .6s;
}
.sub-page-humburger {
  .hamburger-overlay__line {
    background-color: $main-color;
  }
}

.hamburger-overlay__line:nth-of-type(1) { top: 11px; }
.hamburger-overlay__line:nth-of-type(2) { top: 20px; }
.hamburger-overlay__line:nth-of-type(3) { top: 29px; }

.hamburger-overlay.active .hamburger-overlay__line {
  background-color: #fff;
}

.hamburger-overlay.active .hamburger-overlay__line:nth-of-type(1) {
  transform: translateY(9px) rotate(-45deg);
}
.hamburger-overlay.active .hamburger-overlay__line:nth-of-type(2) {
  opacity: 0;
}
.hamburger-overlay.active .hamburger-overlay__line:nth-of-type(3) {
  transform: translateY(-9px) rotate(45deg);
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $main-color;
  visibility: hidden;
  opacity: 0;
  transition: all .6s;
  z-index: 900;
}

.nav-overlay.active {
  visibility: visible;
  opacity: 1;
}

.nav-overlay__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.nav-overlay__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-overlay__item {
  opacity: 0;
  transform: translateY(20px);
  transition: all .6s;
}

.nav-overlay.active .nav-overlay__item {
  opacity: 1;
  transform: translateY(0);
}

.nav-overlay.active .nav-overlay__item:nth-child(1) { transition-delay: 0.1s; }
.nav-overlay.active .nav-overlay__item:nth-child(2) { transition-delay: 0.2s; }
.nav-overlay.active .nav-overlay__item:nth-child(3) { transition-delay: 0.3s; }
.nav-overlay.active .nav-overlay__item:nth-child(4) { transition-delay: 0.4s; }
.nav-overlay.active .nav-overlay__item:nth-child(5) { transition-delay: 0.5s; }

.nav-overlay__link {
  display: inline-block;
  padding: 20px;
  color: #fff;
  font-size: $font-size-p02;
  text-decoration: none;
  transition: color .3s;
  @include max(md) {
  font-size: $font-size-p02-tab;
  padding: 16px;
  }
  @include max(sm) {
    // font-size: $font-size-p02-sp;
    padding: 12px;
  }
}

.nav-overlay__link:hover {
  color: #4a90e2;
}

// ========== 共通 セクションタイトル ==========
.sec-title-container {
  display: grid;
  gap: 32px;
  margin-bottom: 56px;
  @include max(md) {
    gap: 24px;
    margin-bottom: 48px;
  }
  @include max(sm) {
    gap: 16px;
    margin-bottom: 40px;
  }
  .sec-title-contents {
    display: grid;
    gap: 8px;
    @include max(sm) {
      gap: 4px;
    }
    .sec-title-en {
      color: $main-color;
    }
    .sec-title-jp {
      h2 {
        font-family: 'SourceHanSansJP', sans-serif;
        font-weight: 800;
        @include max(sm) {
          font-size: 20px;
        }
        .emphasis {
          font-size: 64px;
          margin: 0 8px;
          @include max(md) {
            font-size: 56px;
          }
          @include max(sm) {
            font-size: 40px;
          }
        }
      }
    }
  }
  .sec-title-text {
    width: fit-content;
  }
  &.simple {
    display: flex;
    align-items: flex-end;
    .sec-title-contents {
      width: fit-content;
    }
    .two-line {
      width: 280px;
      margin-top: 0;
      margin-bottom: 8px;
      @include max(md) {
        width: 200px;
      }
      @include max(sm) {
        width: 25%;
      }
    }
  }
  .two-line {
    width: 100%;
    height: 4px;
    display: flex;
    margin-top: 32px;
    @include max(sm) {
      margin-top: 24px;
    }
    span {
      height: 4px;
      width: 50%;
    }
    .green {
      background-color: $main-color;
    }
    .red {
      background-color: $sub-color;
    }
  }
}

// ========== ニュース・メディア ==========
.news-contents {
width: 95%;
margin: 0 auto;
  .news-list {
    display: grid;
    gap: 32px;
    @include max(md) {
      gap: 24px;
    }
    @include max(sm) {
      gap: 20px;
    }
    .news-item {
      padding: 0 24px 32px;
      border-bottom: 2px solid $main-color;
      @include max(md) {
        padding: 0 20px 24px;
      }
      @include max(sm) {
        padding: 0 16px 20px;
      }
      .news-link {
        display: flex;
        gap: 64px;
        @include max(md) {
          gap: 56px;
        }
        @include max(sm) {
          flex-direction: column;
          gap: 4px;
        }
        &:hover {
          color: $main-color;
        }
        .news-date {
          letter-spacing: 0.05em;
          @include max(sm) {
            font-size: 12px;
            font-weight: $font-weight-bold;
          }
        }
        .news-title {
          line-height: 1.6;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
      }
    }
  }
}


// ========== ロゴ アニメーション ==========
/* ローディング全体 */
#loading {
  position: fixed;
  z-index: 9999;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease, visibility 1s ease;
}

/* ロゴアニメーション */
.loading-logo img {
  opacity: 0;
  width: 120px;
  animation: fadeIn 1.5s ease forwards;
  @include max(sm) {
    width: 64px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* フェードアウト用クラス */
#loading.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
